<div class="row">
  <div class="col-12">
    <form [formGroup]="todoForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Todo's Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
            <span class="text-muted" *ngIf="todoForm.get('name')!.errors?.['required'] && todoForm.get('name')!.touched">
              Please Enter Task Name
            </span>
            <span class="text-muted" *ngIf="todoForm.get('name')!.errors?.['TaskAlreayExist']">
              This Task Already exist
            </span>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="details">Todo's Details</label>
            <textarea name="details" id="" class="form-control" rows="3" formControlName="details"></textarea>
            <span class="text-muted" *ngIf="todoForm.get('details')!.errors?.['required'] && todoForm.get('details')!.touched">
              Please Enter Details
            </span>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
          <button class="btn btn-outline-primary me-2" [disabled]="!todoForm.valid">{{ this.editMode ===true ? 'Save Changes' : 'Add Todo' }}</button>
          <button class="btn btn-outline-danger" (click)="cancel()" >Cancel</button>
          </div>
        </div>
      </div><br>

    </form>
  </div>
</div>
